<form method="POST" action="/api/projects" class="text-center">
    <div class="project-adding">
        <div class="form-group">
            <label for="name">Name for Project:</label>
            <input class="form-input" type="text" id="project-name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Brief description about your project:</label>
            <input class="form-input" type="text" id="project-desc" name="description">
        </div>
        <div class="form-group">
            <label for="date_created">Create day:</label>
            <input class="form-input" type="text" id="project-date" name="date_created">
        </div>
        <div class="form-group">
            <label for="needed_funding">Needed Fund Amount:</label>
            <input class="form-input" type="text" id="need-fund" type="number">
        </div>
        <div class="form-group">
            <label for="collected_funding">Collected Fund Amount:</label>
            <input class="form-input" type="text" id="collect-fund" type="number">
        </div>
    </div>
</form>