header {
  padding: 30px;
  background-image: url('../images/smoke.jpg');
  background-position-x: 500px;
  background-position-y: 480px;
  color: white;
  text-align: center;
}
nav {
  padding: 15px;
  display: flex;
  background-color: rgb(20, 58, 88);
}

nav a {
  color: rgb(253, 252, 251);
  padding: 8px 12px;
  font-weight: bold;
  font-size: 22px;
  background-color: rgb(20, 58, 88);
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  color: azure;
  background-color: rgb(138, 181, 216);
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

aside {
  flex: 0;
  text-align: left;
  padding: 50px;
  color: #fff;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url('../images/background.jpg');
}

.jumbotron {
  margin: 10px 10px;
  padding: 10px;
  flex: 4;
  text-align: center;
  border: 1.75px solid;
  color: rgb(86, 86, 121);
  text-decoration: none;
}

.jumbotron:hover {
  background-color: rgb(165, 164, 164);
}

.jumbotron a {
  color: rgb(233, 229, 229);
  text-decoration: none;
}
.project {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-flow: wrap;
  justify-content: left;
  align-items: center;
}

.project-name {
  text-align: center;
  color: #eee;
}

h5,
h6 {
  color: #eee;
}

.fund-button {
  cursor: pointer;
  text-decoration: none;
  border-radius: 15%;
}
.fund-button:hover {
  background-color: green;
}

.login-forms {
  display: flex;
  margin: 10px 10px;
  border: 1.75px;
  border-top: black;
  border-style: double;
  border-width: thick;
}

.login-card {
  border: 1.75px;
  border-top: black;
  margin: 0px 10px;
}

.signup-card {
  border: 1.75px;
  border-top: black;
  margin: 0px 10px;
}

.progress {
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  overflow: hidden;
  line-height: 0;
  font-size: 1rem;
  background-color: #eee;
  border-radius: 0.25rem;
}
.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #eb6864;
  transition: width 0.9s ease;
}
@media (prefers-reduced-motion: reduce) {
  .progress-bar {
    transition: none;
  }
}

#logout {
  cursor: pointer;
}

.form-group label {
  color: #eee;
  text-decoration: underline;
}
